[submodule "GRAnalyzer"]
	path = GRAnalyzer
	url = https://github.com/your_github_account/GRAnalyzer.git
[submodule "MPIEventLoop"]
	path = MPIEventLoop
	url = https://github.com/your_github_account/MPIEventLoop.git
